*{
    padding: 0;
    margin: 0;
    color: aliceblue;
   
}
body{
    background-color: rgb(53, 49, 49);
    display: flex;
    height: 100%;
}
.image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px white solid;
    flex-shrink: 0;
}
img{
    width: 100%;
}
.logo{
    
    display: flex;
   align-items: center;
   
   margin: 5px;
   border-radius: 10px;
   gap: 30px;
   text-transform: capitalize;
}
.name{
    font-size: 30px;
    font-weight: 800;
}

.menu {
    width: 65px;
   
background-color: rgb(100, 87, 87);
    padding: 10px;
  
    transition: .5s;
    overflow: auto;
    
  
}
.menu:hover{
    width: 260px;
}
ul{
    list-style: none;
    position: relative;
    height: 100%;
    overflow: hidden;
    
}
ul li a{
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.5s; 
}
ul li a:hover ,.active , .box:hover{
    background-color: #ffffff55;
}
ul li .logout{
margin: 160px 0 0 0;
    background-color: red;   
}

i{
    font-size: 25px;
}
.content{
    width: 100%;
    margin: 10px;
   
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin: 10px;
    padding: 5px;
    background-color: rgb(40, 94, 245);
    border-radius: 10px;
}
.data-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px ;
}
.box{
    height: 150px;
    flex-basis: 150px;
    background-color: rgb(40, 94, 245);
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    margin: 10px;
    border-radius: 10px;
}
.data-info .box i{
    font-size: 40px;
}
.data-info .box span{
    font-size: 30px;
}
.data-info .box .data{
    text-align: center;
}

table{
    width: 100%;
    text-align: center;
    border-spacing: 5px;
}
th,td{
    background-color: #123;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
}
.price{
    background-color: rgb(238, 222, 130);
    color: black;
    border-radius: 5px;
}
.count{
    background-color: blueviolet;
    border-radius: 5px;
}
th{
    background-color: rgb(40, 94, 245);
}
.content p{
    font-size: 20px;
}